<%= simple_form_for(@entity) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :type %>
    <%= f.input :value %>
    <%= f.association :chunk %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
