<% content_for :content do %>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <%= generate_table(
            striped: true,
            header: ['Title', 'Coordinates'],
            content: [
              [@wiki.title, "Lat: #{@lat}, Long: #{@long}"]
            ]
          ) %>

          <% if @wiki.coordinates %>
            <p><strong>Map</strong></p>
            <%= image_tag @search.map_url, class: 'img-responsive' %>
          <% end %>
        </div>
        <div class="col-sm-6">
          <p><strong>Categories</strong></p>
          <ul>
            <% @wiki.categories.each do |category| %>
              <li><%= category[9..category.length] %></li>
            <% end %>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <p><strong>Images</strong></p>
          <ul>
            <% @wiki.image_urls.each do |image_url| %>
              <li><%= image_tag image_url, class: 'img-responsive' %></li>
            <% end %>
          </ul>
        </div>
      </div>

      <p>
        <strong>Chunk:</strong>
        <%= link_to(@search.chunk.content.truncate(60), chunks_path(@search.chunk)) %>
      </p>
      <%= link_to 'Back', searches_path, class: 'btn btn-primary' %>
      <%= link_to 'Edit', edit_search_path(@search), class: 'btn btn-primary' %>
    </div>
  </section>
<% end %>
