<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".first-navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_path, class: 'navbar-brand' do %>
        <%= image_tag "http://placehold.it/200x100&text=Phifflarn", class: 'logo' %>
      <% end %>
    </div>

    <div class="navbar-collapse navbar-right first-navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to 'New chunk', new_chunk_path %></li>
        <li><%= link_to 'Chunks', chunks_path %></li>
        <li><%= link_to 'Entities', entities_path %></li>
        <li><%= link_to 'Performed searches', searches_path %></li>
      </ul>
    </div>
  </div>
</nav>
